<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sahlan Nasution</title>
</head>

<body>
    <h1>Hello Sahlan Nasution!</h1>
</body>

</html> -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LIST</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
</head>

<body>
    <div class="top-wrapper">
        <div class="top-detail">
            <h2 class="subtitle">Ini halaman Sahlan Nasution</h2>
            <h1 class="title">Selamat Datang Sahlan Nasution!</h1>
            <!-- <p class="description">
                LIST dapat membuat dan mengatur daftar pembelanjaan Anda dengan mudah.
                <br>
                Tambahkan barang yang Anda inginkan kapanpun, dimanapun.
            </p> -->
            <a class="index-button" href="/">Kembali ke Index</a>
            <!-- <br>
            <a class="index-button" href="/sahlan">Lihat Sahlan</a> -->
        </div>
        <div class="top-image">
            <img src="/images/top.png">
        </div>
    </div>
</body>

</html>